<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <title>ModelForge</title>
</head>

<body>
    <div class="background">
        <div class="sidenav">
            <div class="logo">ModelForge</div>
            <div class="inputs">
                <div class="input-file">
                    <input type="file" id="fileInput" class="file" aria-label="File Input" accept=".csv" />
                    <label for="fileInput" class="custom-file-label" id="fileInput-label">Choose a file</label>
                </div>

                <div class="input-description">
                    <label for="Model-type">Model Type:</label>
                    <div class="custom-select-container">
                        <select name="Model-type" id="Model-type" aria-label="Select Model Type">
                            <option value="" selected disabled>Select an option</option>
                            <option value="regression">Regression</option>
                            <option value="classification">Classification</option>
                        </select>
                        <span class="custom-arrow">&#x25BC;</span>
                    </div>
                </div>

                <div class="target-feature">
                    <label for="target-menu">Target Feature:</label>
                    <div class="custom-select-container">
                        <select name="target-menu" id="target-menu" aria-label="Select Target Feature">
                            <option value="" selected disabled>Select an option</option>
                            <option value="1">Age</option>
                            <option value="2">Height</option>
                        </select>
                        <span class="custom-arrow">&#x25BC;</span>
                    </div>
                </div>

                <button type="submit" class="submit" id="submit-main">Submit</button>
            </div>
            <div class="footer">
                Developer: Shravan & Jeevan
            </div>
        </div>

        <div class="code">
            <div class="top-clip">
                <img src="/assets/AIs.gif" alt="AI illustration" />
            </div>
            <div class="content">
                <p id="PRT">Upload a file to start generating your model</p>
            </div>
        </div>
    </div>

    <script src="/assets/script.js"></script>
</body>

</html>