<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Model Forge</title>
</head>

<body>
    <img class="one" src="/assets/bg_img.png" alt="png">
    <img class="two" src="/assets/bg_img.png" alt="png">
    <div class="background-effects"></div>
    <header class="header">
        <h2 class="logo">-: Model Forge :-</h2>
    </header>

    <main class="content">

        <aside class="sidenav">
            <div class="inputs">
                <label for="input-file" class="file-label" id="fileInput-label" >Drop CSV File</label>
                <input type="file" id="input-file" accept=".csv" hidden>

                <label for="dropdown_algo">Algorithm</label>
                <select id="dropdown_algo">
                    <option disabled selected>Select an Algo</option>
                    <option>Linear Regression</option>
                    <option>Classification</option>
                </select>

                <label for="variable">Feature Selection</label>
                <select id="variable">
                    <option disabled selected>Select a variable</option>
                </select>

                <label for="model">Model Name</label>
                <select id="model" disabled>
                    <option disabled selected>Select the model</option>
                </select>


                <button class="submit-btn" id="submit-btn">Submit</button>
            </div>
        </aside>

        <section class="output">
            <div class="codeblock">
                <div class="spinner" id="spinner" style="display: none;"></div>
                <pre><code id="code-part">
Code will be generated here.....
                </code></pre>
            </div>
        </section>

        <section class="plots ">
            <div class="plot loading" id="Heat_plot">
                <p id="Heat_para">Plot will be generated after code generation</p>
            </div>
            <div class="plot loading" id="R2_plot">
                <p id="R2_para">Plot will be generated after code generation</p>
            </div>
        </section>

    </main>

    <footer class="footer">
        <p>Developed By: Shravan & Jeevan</p>
    </footer>

    <script src="/assets/script.js"></script>
</body>

</html>